* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.navbar {
  width: 100%;
  height: 10vh;
  background-color: rgb(210, 27, 27);
  color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.content-container {
  width: 100%;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tabs {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
}

.tab-leagues {
  width: 300px;
  align-items: center;
  justify-content: center;
  display: flex;
  background-color: black;
  color: white;
  border-right: 5px solid;
}

.tab-standings {
  width: 300px;
  align-items: center;
  justify-content: center;
  display: flex;
  background-color: black;
  color: white;
}

.tab-highlights {
  width: 300px;
  align-items: center;
  justify-content: center;
  display: flex;
  background-color: black;
  color: white;
}

.leagues-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  text-align: center;
}

.league-div {
  margin: 20px 0;
}

.league-div:hover {
  transform: scale(1.1);
}

.select {
  padding: 10px;
  font-size: 19px;
}

.league-div > img {
  width: 150px;
}

.standing-info-div > img {
  width: 30px;
  height: 30px;
}

table {
  width: 800px;
}

th {
  text-align: left;
}

table,
th,
td {
  border: 1px solid #000;
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
}

tr:nth-child(even) {
  background-color: rgb(210, 27, 27);
}

tr:nth-child(odd) {
  background-color: gray;
}

/* .video-container {
  width: 100%;
  min-height: 80vh;
  display: grid;
  grid-template-columns: repeat((4, 1fr));
  justify-items: center;
}

img {
  width: 250px;
  height: 250px;
  border: 2px solid red;
  border-radius: 5px;
} */

/* .itemDiv {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 20px 0;
} */

.footer {
  width: 100%;
  height: 10vh;
  background-color: rgb(210, 27, 27);
  color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
